body {
  display: flex;
  justify-content: center;
}

#random {
  height: 100px;
  width: 250px;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
}

.grid-item-6 {
  grid-column-start: 1;
  grid-column-end: -1;
}
