html {
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
}

#drinkImg {
  border-radius: 50%;
}

#random {
  border-radius: 12px;
  font-size: 150%;
  height: 100%;
  width: 100%;
}

#random:hover {
  font-size: 165%;
}

.grid-container {
  align-items: center;
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 20px;
  margin: 0 10% 0 10%;

  border: 20px solid bisque;
  border-radius: 10px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
}

.grid-item-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-item-6 {
  grid-column-start: 1;
  grid-column-end: -1;
}

#submitIngredient {
  border-radius: 8px;
}
